body{
	background-color:pink;
	border:blue;
}
p{
	color:green;
	font-family:Arial;
}
h1{
	color:purple;
	font-family:Aharoni;
}
h3{
	color:blue;
	font-family:Garamond;
}
ul{
	list-style-type:lower-roman;
	color:yellow;
	font-family:"Iskoola Pota";
}
hr{
	border-color:red;
}
table{
	background-color:white;
	color:blue;
	font-family:"Comic Sans";
}
